:root {
  --size: 200px;
  --gradient:linear-gradient(45deg, #337aff, #572ff3, #e81f6c, #f1c726);
  --hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

.home::before,
.about-us::before,
.login-register::before,
.price-list::before,
.order-list::before,
.profile::before {
  content: " ";
  background-image: url("../assets/background-grid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
}

a{
  text-decoration: none;
}

button{
  font-family: 'Roboto Mono', monospace;   
}

/* CAROUSEL SLIDER */
.slider {
  position: relative;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 880px;
  height: 400px;
  border-radius: 10px;
  position: relative;
  z-index: -1;
  user-select: none;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  color: #000;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
  color: #000;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.carousel-border {
  position: absolute;
  z-index: 1;
  top: -10px;
  user-select: none;
  -webkit-user-drag: none;
}

/*  END CAROUSEL SLIDER */

/* SEARCH BAR */
.search {
  display: flex;
  align-items: center;
}

.search .input {
  width: 400px;
  height: 50px;
  outline: none;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-end-start-radius: 5px;
  background-color: rgba(217, 217, 217, 1);
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto Mono', monospace;
  padding-left: 1rem;
  border: none;
  letter-spacing: 0.1em;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.search .input:hover {
  background-color: rgba(217, 217, 217, 0.9);
}

.search .input::placeholder {
  color: #000;
}

.search div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 50px;
  background-color: rgba(255,199,0, 1);
  border-top-right-radius: 5px;
  border-end-end-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.search div:hover{
  background-color: rgba(255,199,0, 0.9);
}

/* END SEARCH BAR */

/* BACKGROUND GRID */
.home::before,
.order-list::before {
  content: " ";
  background-image: url("../assets/background-grid.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
}

/* END BACKGROUND GRID */
/* FOOTER */

.footer {
  margin-top: 120px;
}

.about-us .footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer div {
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer p {
  margin-bottom: 30px;
  opacity: 50%;
}

/* END FOOTER */

/* START TITLE */
.title {
  display: flex;
  color: #E5E1E6;
}

.title p {
  font-weight: normal;
  margin-left: .5rem;
}

/* END TITLE */

/* START DROPDOWN */
.dropdown-container {
  width: 310px;
  text-align: left;
  background-color: #7C7FFF;
  position: relative;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-tool img {
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  position: absolute;
  transform: translate(-9px, 4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
  z-index: 1;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  color: #000;
}

.dropdown-item:hover {
  background-color: #9fc3f870;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown-tag-item {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.dropdown-tag-close {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 5px;
  background-color: #eee;
}

.search-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* END DROPDOWN */

/* PAYMENT CONTAINER */

.payment-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-container img {
  position: absolute;
  z-index: -1;
  user-select: none;
  -webkit-user-drag: none;
}

.data {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  grid-gap: 60px;
}

.column-box {
  margin: 5px;
}

.column-box li {
  list-style: none;
}

.list-data {
  list-style: none;
}

.list-data li {
  margin-bottom: 10px;
  font-size: 20px;
}

.list-divider {
  list-style: none;
  transform: translateY(40px);
}

.list-divider li {
  font-size: 12px;
}

.list-divider li p {
  padding: 10px;
  font-size: 18px;
  opacity: 45%;
  transform: rotate(90deg);
}

/* END PAYMENT CONTAINER */

/* LOADING */
.wrapper-spinner{
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.spinner {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.spinner:before,
.spinner:after {
	content: "";
	position: absolute;
	border-radius: inherit;
}

.spinner:before {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg, #009efd 0%, #2af598 100%);
	animation: spin 1s infinite linear;
}

.spinner:after {
	width: 85%;
	height: 85%;
	background-color: #151515;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.pl {
	display: block;
	width: 4em;
	height: 4em;
}
.pl__ring,
.pl__ball1,
.pl__ball2 {
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	transform-origin: 32px 32px;
}
.pl__ring {
	animation-name: ring;
}
.pl__ball1 {
	animation-name: ball1;
}
.pl__ball2 {
	animation-name: ball2;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

/* Animation */
@keyframes ring {
	from {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: -122.52;
		transform: rotate(135deg);
	}
	15% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -122.52;
		transform: rotate(90deg);
	}
	35% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -65.34;
		transform: rotate(297.5deg);
	}
	55% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: -122.52;
		transform: rotate(505deg);
	}
	70% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: -122.52;
		transform: rotate(490deg);
	}
	85%,
	to {
		stroke-dashoffset: -122.52;
		transform: rotate(497.5deg);
	}
}
@keyframes ball1 {
	from {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-7deg);
	}
	60% {
		transform: rotate(399deg);
	}
	75% {
		transform: rotate(361deg);
	}
	90%,
	to {
		transform: rotate(374deg);
	}
}
@keyframes ball2 {
	from {
		transform: rotate(-21deg);
	}
	25% {
		transform: rotate(-47deg);
	}
	60% {
		transform: rotate(364deg);
	}
	75% {
		transform: rotate(326deg);
	}
	90%,
	to {
		transform: rotate(339deg);
	}
}
/* END LOADING */