.detail-game{
    width: 1240px;
    margin: 0 auto;
    /* display: flex; */

}

.detail-game .line{
    margin: 0 auto;
    transform: translateY(-30px);
    /* position: absolute; */
}

.wrapper-detail{
    display: flex;
}

.wrapper-detail .text, .wrapper-detail .transaction{
    width: 50%;
}

.wrapper-detail .text > img{
    width: 500;
    height: 250px;
}

.text .platform{
    display: flex;
    margin-top: 20px;
}

.text .platform img{
    width: 170px;
    height: 50px;
    margin-right: 10px;
}

.transaction{
    display: flex;
}

.timeline-transaction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50px;
}

.timeline-transaction .timeline-line{
    height: 60px;
    width: 2px;
    background-color: #544E5A;
    transition: all 0.5s ease-out;
}

.timeline-transaction .line-second{
    height: 580px;
    width: 2px;
    background-color: #544E5A;
}

.timeline-number{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #544E5A 2px solid;
    display: grid;
    place-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #544E5A;
    transition: all 0.5s ease-out;
}

.active-timeline{
    color: #7C7FFF;
    border: #7C7FFF 2px solid;
}

.timeline-transaction .active-timeline-line{
    background-color: #7C7FFF;
}

.wrapper-input-items{
    padding: .75rem 1.5rem 0
}

.wrapper-input{
    display: flex;
    flex-direction: column;
}

.wrapper-input h1, .wrapper-items h1{
    font-weight: 700;
    font-size: 20px;   
    margin-bottom: 2rem; 
}

.wrapper-input div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.wrapper-input div input{
    width: 300px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #544E5A;
    outline: none;
    color: white;
    font-size: 24px;
    transition: all .3s ;
}

.wrapper-input div input:focus, .wrapper-input div input:hover{
    border: 1px solid #7C7FFF;
}

.wrapper-input img{
    width: 24px;
    height: 24px;
}

.wrapper-items{
    margin-top: 2rem;
}

.wrapper-topup-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.wrapper-items .item{
    width: 163px;
    height: 168px;
    border: 1px solid #544E5A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7.5px;
    transition: ease-out 0.3s;
    cursor: pointer;
}

.wrapper-items .selected{
    border: 1px solid #7C7FFF;
}

.wrapper-items .item:hover{
    border: 1px solid #7C7FFF;
}

.wrapper-items .item:hover > p {
    color: #7C7FFF;
}

.wrapper-items .item:hover > svg path{
    fill: #7C7FFF;
}

.wrapper-items .item svg, .wrapper-items .item path{
    fill: white;
    transition: ease-out 0.3s;
}

.wrapper-items .item p{
    margin-top: 1rem;
    font-weight: 700;
    font-size: 14px;
    width: 80%;
    transition: ease-out 0.3s;
}

.wrapper-total{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #544E5A;
    border-radius: 7.5px;
    padding: 1rem;
    margin-top: 2rem;
}

.wrapper-total div{
    display: flex;
    border-bottom: 1px solid #544E5A;
    padding-bottom: 1rem;
}

.wrapper-total div h3{
    margin-left: 1rem;
    font-weight: 500;
    font-size: 16px;
}

.wrapper-total p{
    margin-top: .5rem;
}